*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
     
}

.banner
{
    width: 100%;
    heigth: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75)),linear-gradient(rgba(0,0,0,0.75));
    background-image: url("images.png");
    
}